$logo-max-width: 156px;
$logo-max-height: 139px;
$logo-aspect-ratio: 1.1223;

$logo-desired-height: 80px;
$logo-desired-width: ceil($logo-desired-height * $logo-aspect-ratio);

.btn, .btn-lg, .btn-group-lg > .btn {
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.1);
  font-family: $font-family-sans-serif;
  font-size: 0.95em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &.btn-xs {
    font-size: 0.8em;
  }
}

.input-group-btn > .btn {
  font-size: 16px !important;
}

&:focus {
  outline: 5px auto $brand-primary;
}

#a0-lock.a0-theme-default.a0-theme-dftba {
  .a0-panel {
    box-shadow: none;
  }
  .a0-avatar-guest {
    visibility: hidden;
  }
  .a0-panel .a0-top-header {
    background: #262e2e;
    color: #fff;
  }

  .a0-bg-gradient.a0-blur-support {
    display: none;
  }

  .a0-panel button.a0-primary {
    background-color: $brand-primary !important;
    color: #000 !important;

    &:hover, &:active, &:focus {
      background-color: darken($brand-primary, 7) !important;
    }
  }
}

.dftba.navbar {
  margin-bottom: 0;

  .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-header {
    position: relative;
  }

  .navbar-collapse {
    padding-left: $logo-desired-width;

    &.collapse.in, &.collapsing {
      margin-top: 30px;
      padding-left: 15px;
    }
  }

  .dftba-brand {
    width: $logo-desired-width;
    height: $logo-desired-height;
    background: transparent url("../images/logo.png");
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    background-size: contain;
    border: none;
  }
}

.sub-header {
  background-image: url("../images/bg-visual.png");
  background-color: $brand-success;
  color: $gray-base;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  h1 {
    margin: 0;
  }
}

.fourohfour-image {
  background-image: url("../images/404.gif");
}

.loader-container {
  padding-top: 5px;
  transform: scale(0.6);
}

.dftba.navbar .dftba-brand {
  margin-left: 9px;

  @media (min-width: $screen-sm) {
    margin-left: -12px;
  }
}

body {
  padding-top: 50px;
}

#content {
  position: relative;
}

.fade-enter {
  opacity: 0.01;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

h2, h3, h4, h5 {
  color: $brand-primary;

  //text-transform: uppercase;
  //letter-spacing: 0.05em;
  font-family: $font-family-serif;
}

.data-grid-select-all
.fixedDataTableLayout_header
.fixedDataTableCellGroupLayout_cellGroup
.fixedDataTableCellLayout_main:first-child {
  position: absolute;
  right: 0;
  z-index: 100;
  width: 100% !important;
}

.bulk-selection-select-complete {
  font-weight: normal;
  font-size: 0.85em;
  padding-top: 7px;
  padding-left: 5px;
  float: left;
}

.modal-content {
  .close {
    color: #fff;
  }
}

.dropdown-menu {
  background-color: darken($gray-base, 5%);
  border-color: darken($gray-base, 9%);
}

#dave-picker + .dropdown-menu {
  min-width: 320px;
  padding: 6px 5px;

  //.divider {
  //  background-color: $gray-dark;
  //}
  //
  //& > li > a {
  //  color: darken($text-color, 10);
  //}
  //
  //& > li > a:hover, & > li > a:focus {
  //  text-decoration: none;
  //  color: $text-color;
  //  background-color: $gray-dark;
  //}
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $gray-darker;
}

.input-group .react-datepicker__input-container {
  display: table-cell;

  &:first-child .form-control {
    border-top-left-radius: $input-border-radius !important;
    border-bottom-left-radius: $input-border-radius !important;
  }
}

.product-row {
  background-color: rgba(0, 0, 0, 0.3);
}

.ledger-detail-summary .well {
  text-align: center;
  padding: 0.6em 0;

  h5 {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }

  p {
    font-size: 2.0em;
  }
}

$selector-size: 16px;

.selector {
  cursor: pointer;
  display: inline-block;
  width: $selector-size + 2 * 3px;
  height: $selector-size + 2 * 3px;
  border-radius: 3px;
  font-size: $selector-size;
  text-align: center;
  vertical-align: middle;
  line-height: $selector-size + 2 * 3px - 2px;
  color: $gray-lighter;
  border: 1px solid $gray-light;
  margin: 0 6px;

  &:hover {
    border-color: $brand-primary;
  }

  &.selector-checked {
    color: $brand-primary;
    border-color: $gray-darker;
    box-shadow: 0 0 0 2px $brand-primary;
  }
}

.data-grid {
  .table {
    margin-bottom: 0;
  }

  #grid-search {
    max-width: 350px;
    margin-bottom: 0;
  }

  .data-grid-header {
    border-bottom: 2px solid $gray-darker;
    background-color: darken($gray-base, 5);
    padding: 5px;
    border-radius: 5px 5px 0 0;

    .count {
      padding-right: 10px;
    }
  }

  .data-grid-body {}

  .data-grid-footer {
    border-top: 2px solid $gray-darker;
    background-color: darken($gray-base, 5);
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
  }
}

#settings-time.input-group {
  > * {
    width: auto;
    float: none;
  }

  .input-group-addon {
    padding: 6px;
  }

  .form-control {
    width: 60px;
  }
}

.table > thead > tr > th {
  background-color: darken($gray-base, 5);
}

.dropdown-menu > li > a {
  color: $gray-lighter;
}